$bg-dark-theme:rgb(51,61,75);
$bg-light-theme:rgb(254,252,247);
$nav-color:rgb(135,147,174);
$heading-color:rgb(254,252,247);
$paragraph-color:rgb(187,185,183);
$product-heading-color:rgb(51,61,75);
$cards-color:rgb(14,135,132);
$number-color:rgb(253,214,186);
$coutries-heading-color:rgb(92,99,109);
$title-color:rgba(187,185,183,0);
$bg-footer:rgb(40,47,56);
$plan-card:rgb(244,241,235);

