//fonts
$global-font-family:'Barlow', sans-serif;
$nav-font-size:.75rem;
$nav-font-weight:700;


$heading-font-size:4.5rem;
$benefits-heading-font-size:2.5rem;
$heading-font-weight:900;
$heading-font-family: 'Fraunces', serif;

$paragraph-font-size:1rem;
$paragraph-font-weight:400;


$button-font-size:1.2rem;
$button-font-family: 'Fraunces', serif;

$product-heading-size:1.5rem;

$paragraph-line-height:1.62em;
$heading-line-height:2.3em;